<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        body{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2%;
        }
    </style>
    
    <title>CHAT</title>
</head>
<body>
    <h1>Chat </h1>
    <input type="text" id="msg">
    <input type="text" id="username">
    <button onclick="send()">Enviar</button>

    <div id="chat"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>    
        let socket = io("http://localhost:3000/")
        
        socket.on("disconnect", () => {
            console.log("Desconectado")
        })

        socket.on("showmsg", (data) => {
            console.log(data)
            let chat = document.getElementById("chat")
            let p = document.createElement("p")
            p.innerHTML = data.username + ": " + data.msg
            chat.append(p)
        })

        function send() {
            let msgField = document.getElementById("msg")
            let usernameField = document.getElementById("username")

            let msg = msgField.value
            let username = usernameField.value

            socket.emit("msg",{msg, username})
        }
    </script>
</body>
</html>